## Load in data and remove extra columns ##

In [738]:
import pandas as pd
import glob
import os

from datetime import datetime

path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))

for file in csv_files:
    df = pd.read_csv(file)

historic = False
if 'Date' in df:
    historic = True
    df = df[['Date', 'Last', 'First', 'Score', 'Sleep Hours']]
else:
    df = df[['Last', 'First', 'Readiness Score', 'Sleep']]

df.head()

         Date      Last   First  Score  Sleep Hours
0  2023-03-22     Allen   Emmie  95.75          8.0
1  2023-03-22      Bell  Maycee  93.75          9.0
2  2023-03-22  Cheesman  Sydney  75.00          9.0
3  2023-03-22    Colton   Emily  71.59         10.0
4  2023-03-22       Cox  Isabel  52.85          7.0

## Add rows with week averages ##

In [739]:
if historic:
    dates = df['Date'].unique()
    weeks = []
    week = []

    # Separate days into weeks
    for idx, date in enumerate(dates):
        
        # Create datetime object from str
        clean_date = datetime.strptime(date, "%Y-%m-%d")
        
        # Add day to current week
        week.append(date)
        
        # End of week (Monday)
        if clean_date.weekday() == 0 or idx == len(dates) - 1:
           weeks.append(week)
           week = []

    # Add row with team averages for each full week
    for week in weeks:
        score_mean = df.loc[df['Date'].isin(week), 'Score'].mean()
        sleep_mean = df.loc[df['Date'].isin(week), 'Sleep Hours'].mean()
        row = ({
            'Date': f"{week[0]} Weekly Avg)",
            'Last': ' Team',
            'First': 'Average',
            'Score': score_mean,
            'Sleep Hours': sleep_mean
        })
        idx = df.loc[df['Date'] == week[-1]].index.array[-1] + 1
        df2 = pd.DataFrame(row, index=[idx])
        df = pd.concat([df, df2]).sort_index().reset_index(drop=True)
    df['Score'] = df['Score'].round(2)
    df['Sleep Hours'] = df['Sleep Hours'].round(1)
df.head(60)

                      Date         Last    First   Score  Sleep Hours
0               2023-03-22        Allen    Emmie   95.75          8.0
1               2023-03-22         Bell   Maycee   93.75          9.0
2               2023-03-22     Cheesman   Sydney   75.00          9.0
3               2023-03-22       Colton    Emily   71.59         10.0
4               2023-03-22          Cox   Isabel   52.85          7.0
5               2023-03-22      Dahlien   Maddie   55.69          9.0
6               2023-03-22  Dellaperuta     Tori   70.27          8.0
7               2023-03-22    Dellarose    Tessa   90.25          8.0
8               2023-03-22    Dominguez  Makenna   46.17          7.0
9               2023-03-22        Elgin  Emerson   72.37          9.0
10              2023-03-22       Galbus      Moo   68.75          8.0
11              2023-03-22        Hayes      Kai   48.27          7.0
12              2023-03-22        Means     Asha   57.42         11.0
13              2023-03-22       Moxley    Emily   91.50          8.0
14              2023-03-22       Oliaro      Mia   88.75          9.0
15              2023-03-22       Reason     Nona   61.27          8.0
16              2023-03-22       Sember    Bella   99.75          8.0
17              2023-03-22      Sentnor  Allyson   65.00          8.0
18              2023-03-22       Teater     Maci   72.00          8.0
19              2023-03-22      Wrigley   Lauren   58.27          8.5
20              2023-03-21        Allen    Emmie   96.50          8.0
21              2023-03-21       Colton    Emily   71.92         10.0
22              2023-03-21      Dahlien   Maddie   59.59         10.0
23              2023-03-21  Dellaperuta     Tori   95.75          8.0
24              2023-03-21    Dellarose    Tessa   87.75          7.0
25              2023-03-21    Dominguez  Makenna   69.75          9.0
26              2023-03-21        Elgin  Emerson   58.19         10.0
27              2023-03-21       Faasse     Kate   85.25          8.0
28              2023-03-21        Hayes      Kai   73.70          7.0
29              2023-03-21        Means     Asha   70.90          8.0
30              2023-03-21       Moxley    Emily   91.75          9.0
31              2023-03-21       Oliaro      Mia   89.25          9.0
32              2023-03-21    Patterson    Avery   67.25         12.0
33              2023-03-21       Reason     Nona   61.10          8.0
34              2023-03-21       Sember    Bella  100.00         10.5
35              2023-03-21      Sentnor  Allyson   84.00          8.0
36              2023-03-21       Teater     Maci   69.67          7.0
37              2023-03-21      Wrigley   Lauren   60.87          9.0
38              2023-03-20        Allen    Emmie   95.75          8.0
39              2023-03-20       Colton    Emily   81.75          8.0
40              2023-03-20          Cox   Isabel   71.75          9.0
41              2023-03-20  Dellaperuta    Talia   91.25          7.0
42              2023-03-20  Dellaperuta     Tori   95.75          8.0
43              2023-03-20    Dellarose    Tessa   91.75          9.5
44              2023-03-20    Dominguez  Makenna   85.00          8.0
45              2023-03-20        Elgin  Emerson   74.50          6.0
46              2023-03-20       Faasse     Kate   73.32          8.0
47              2023-03-20       Galbus      Moo   91.00          8.0
48              2023-03-20        Hayes      Kai   97.50          8.0
49              2023-03-20       Moxley    Emily   95.75          8.0
50              2023-03-20       Oliaro      Mia   89.50          8.0
51              2023-03-20    Patterson    Avery   70.25          8.0
52              2023-03-20       Reason     Nona   96.00          9.0
53              2023-03-20       Sember    Bella   98.50          7.0
54              2023-03-20      Sentnor  Allyson   89.50          9.0
55              2023-03-20       Teater     Maci   72.57          8.0
56              2023-03-20    Tolentino    Paige   63.09          7.0
57              2023-03-20      Wrigley   Lauren   61.95          7.0
58  2023-03-22 Weekly Avg)         Team  Average   77.83          8.3
59              2023-03-19  Dellaperuta     Tori   73.09          8.0

## Add conditional formatting and export to excel ##

In [740]:
if historic:
    score = 'Score'
    sleep = 'Sleep Hours'

    # Create multiindex dataframe
    df = df.pivot_table(index=['Last', 'First'], columns=['Date'], values=['Score', 'Sleep Hours']).sort_index(axis=1, level='Date', ascending=False)

    # Create individual dataframes for each week
    wks = []
    wk = pd.DataFrame()
    for idx, col in enumerate(df):
        if idx > 0 and col[0] == 'Sleep Hours' and 'W' in col[1]:
            wk = wk.iloc[:, ::-1]
            wks.append(wk)
            wk = pd.DataFrame()
        wk[col] = df[col]
else:
    score = 'Readiness Score'
    sleep = 'Sleep'


# Date conditional formatting
if historic:
    def date(df):
        highlight = ''
        if int(df['Date'][-1]) % 2 == 0:
            highlight = 'background-color: #D59CFF'
        else:
            highlight = 'background-color: #EFDAFF'
        
        if df['Date'][0] == 'W':
            highlight = 'background-color: #7BAFD4'
        return [highlight]

# Score conditional formatting
def score_f(df):
    highlight = ''
    if df[score] < 60:
        highlight = 'background-color: red'
    elif df[score] >= 60 and df[score] < 70:
        highlight = 'background-color: orange'
    elif df[score] >= 70 and df[score] < 85:
        highlight = 'background-color: yellow'
    elif df[score] >= 85:
        highlight =  'background-color: #15DE00'
    return [highlight]

# Sleep conditional formatting
def sleep_f(df):
    highlight = ''
    if df[sleep] < 6:
        highlight = 'background-color: red'
    elif df[sleep] >= 6 and df[sleep] < 8:
        highlight = 'background-color: yellow'
    elif df[sleep] >= 8:
        highlight =  'background-color: #15DE00'
    return [highlight]

new_df = (df
    .style
    .apply(score_f, subset=[score], axis=1)
    .apply(sleep_f, subset=[sleep], axis=1)
    )

if historic:
    new_df = (new_df.apply(date, subset=['Date'], axis=1))
    
    with pd.ExcelWriter('output.xlsx') as writer:
        for idx, w in enumerate(wks):
            w.to_excel(writer, sheet_name=str(w[-1][1]))

else:
    new_df.to_excel('WSoccer_Readiness.xlsx')

                      (Score, 2023-03-20)  (Sleep Hours, 2023-03-20)  \
Last        First
 Team       Average                   NaN                        NaN
Allen       Emmie                   95.75                        8.0
Bell        Maycee                    NaN                        NaN
Cheesman    Sydney                    NaN                        NaN
Colton      Emily                   81.75                        8.0
Cox         Isabel                  71.75                        9.0
Dahlien     Maddie                    NaN                        NaN
Dellaperuta Talia                   91.25                        7.0
            Tori                    95.75                        8.0
Dellarose   Tessa                   91.75                        9.5
Dominguez   Makenna                 85.00                        8.0
Elgin       Emerson                 74.50                        6.0
Faasse      Kate                    73.32                        8.0
Galbus      Moo                     91.00                        8.0
Hayes       Kai                     97.50                        8.0
Means       Asha                      NaN                        NaN
Meza        Samantha                  NaN                        NaN
Moxley      Emily                   95.75                        8.0
Oliaro      Mia                     89.50                        8.0
Patterson   Avery                   70.25                        8.0
Quinlan     Riley                     NaN                        NaN
Reason      Nona                    96.00                        9.0
Sember      Bella                   98.50                        7.0
Sentnor     Allyson                 89.50                        9.0
Teater      Maci                    72.57                        8.0
Tolentino   Paige                   63.09                        7.0
Wrigley     Lauren                  61.95                        7.0

                      (Score, 2023-03-21)  (Sleep Hours, 2023-03-21)  \
Last        First
 Team       Average                   NaN                        NaN
Allen       Emmie                   96.50                        8.0
Bell        Maycee                    NaN                        NaN
Cheesman    Sydney                    NaN                        NaN
Colton      Emily                   71.92                       10.0
Cox         Isabel                    NaN                        NaN
Dahlien     Maddie                  59.59                       10.0
Dellaperuta Talia                     NaN                        NaN
            Tori                    95.75                        8.0
Dellarose   Tessa                   87.75                        7.0
Dominguez   Makenna                 69.75                        9.0
Elgin       Emerson                 58.19                       10.0
Faasse      Kate                    85.25                        8.0
Galbus      Moo                       NaN                        NaN
Hayes       Kai                     73.70                        7.0
Means       Asha                    70.90                        8.0
Meza        Samantha                  NaN                        NaN
Moxley      Emily                   91.75                        9.0
Oliaro      Mia                     89.25                        9.0
Patterson   Avery                   67.25                       12.0
Quinlan     Riley                     NaN                        NaN
Reason      Nona                    61.10                        8.0
Sember      Bella                  100.00                       10.5
Sentnor     Allyson                 84.00                        8.0
Teater      Maci                    69.67                        7.0
Tolentino   Paige                     NaN                        NaN
Wrigley     Lauren                  60.87                        9.0

                      (Score, 2023-03-22)  (Sleep Hours, 2023-03-22)  \
Last        First
 Team       Average                   NaN                        NaN
Allen       Emmie                   95.75                        8.0
Bell        Maycee                  93.75                        9.0
Cheesman    Sydney                  75.00                        9.0
Colton      Emily                   71.59                       10.0
Cox         Isabel                  52.85                        7.0
Dahlien     Maddie                  55.69                        9.0
Dellaperuta Talia                     NaN                        NaN
            Tori                    70.27                        8.0
Dellarose   Tessa                   90.25                        8.0
Dominguez   Makenna                 46.17                        7.0
Elgin       Emerson                 72.37                        9.0
Faasse      Kate                      NaN                        NaN
Galbus      Moo                     68.75                        8.0
Hayes       Kai                     48.27                        7.0
Means       Asha                    57.42                       11.0
Meza        Samantha                  NaN                        NaN
Moxley      Emily                   91.50                        8.0
Oliaro      Mia                     88.75                        9.0
Patterson   Avery                     NaN                        NaN
Quinlan     Riley                     NaN                        NaN
Reason      Nona                    61.27                        8.0
Sember      Bella                   99.75                        8.0
Sentnor     Allyson                 65.00                        8.0
Teater      Maci                    72.00                        8.0
Tolentino   Paige                     NaN                        NaN
Wrigley     Lauren                  58.27                        8.5

                      (Score, 2023-03-22 Weekly Avg))  \
Last        First
 Team       Average                             77.83
Allen       Emmie                                 NaN
Bell        Maycee                                NaN
Cheesman    Sydney                                NaN
Colton      Emily                                 NaN
Cox         Isabel                                NaN
Dahlien     Maddie                                NaN
Dellaperuta Talia                                 NaN
            Tori                                  NaN
Dellarose   Tessa                                 NaN
Dominguez   Makenna                               NaN
Elgin       Emerson                               NaN
Faasse      Kate                                  NaN
Galbus      Moo                                   NaN
Hayes       Kai                                   NaN
Means       Asha                                  NaN
Meza        Samantha                              NaN
Moxley      Emily                                 NaN
Oliaro      Mia                                   NaN
Patterson   Avery                                 NaN
Quinlan     Riley                                 NaN
Reason      Nona                                  NaN
Sember      Bella                                 NaN
Sentnor     Allyson                               NaN
Teater      Maci                                  NaN
Tolentino   Paige                                 NaN
Wrigley     Lauren                                NaN

                      (Sleep Hours, 2023-03-22 Weekly Avg))
Last        First
 Team       Average                                     8.3
Allen       Emmie                                       NaN
Bell        Maycee                                      NaN
Cheesman    Sydney                                      NaN
Colton      Emily                                       NaN
Cox         Isabel                                      NaN
Dahlien     Maddie                                      NaN
Dellaperuta Talia                                       NaN
            Tori                                        NaN
Dellarose   Tessa                                       NaN
Dominguez   Makenna                                     NaN
Elgin       Emerson                                     NaN
Faasse      Kate                                        NaN
Galbus      Moo                                         NaN
Hayes       Kai                                         NaN
Means       Asha                                        NaN
Meza        Samantha                                    NaN
Moxley      Emily                                       NaN
Oliaro      Mia                                         NaN
Patterson   Avery                                       NaN
Quinlan     Riley                                       NaN
Reason      Nona                                        NaN
Sember      Bella                                       NaN
Sentnor     Allyson                                     NaN
Teater      Maci                                        NaN
Tolentino   Paige                                       NaN
Wrigley     Lauren                                      NaN