## Load in data and remove extra columns ##

In [1]:
import pandas as pd

from datetime import datetime

df = pd.read_csv("WSoccerReadiness.csv")
df = df[['Date', 'Last', 'First', 'Score', 'Sleep Hours']]
df.head()

         Date         Last   First  Score  Sleep Hours
0  2023-02-20        Allen   Emmie  95.75          8.0
1  2023-02-20     Cheesman  Sydney  70.40          8.0
2  2023-02-20       Colton   Emily  86.25          9.0
3  2023-02-20      Dahlien  Maddie  70.37          9.0
4  2023-02-20  Dellaperuta   Talia  94.00          8.0

## Add rows with week averages ##

In [2]:
dates = df['Date'].unique()
weeks = []
week = []

# Separate days into weeks (Mon-Sun)
for date in dates:
    clean_date = datetime.strptime(date, "%Y-%m-%d")
    # Start of first full week
    if clean_date.weekday() == 6:
        week = []
        week.append(date)
    # Add day to first full week
    if len(week) != 0 and clean_date.weekday() != 6:
        week.append(date)
    # Add week to weeks on last day of full week
    if len(week) != 0 and clean_date.weekday() == 0:
        weeks.append(week)

# Add row with team averages for each full week
for week in weeks:
    score_mean = df.loc[df['Date'].isin(week), 'Score'].mean()
    sleep_mean = df.loc[df['Date'].isin(week), 'Sleep Hours'].mean()
    row = ({
        'Date': f"Week of {week[-1][5:10]} to {week[0][5:10]}",
        'Last': 'Team',
        'First': 'Average',
        'Score': score_mean,
        'Sleep Hours': sleep_mean
    })
    idx = df.loc[df['Date'] == week[0]].index.array[0]
    df2 = pd.DataFrame(row, index=[idx])
    df = pd.concat([df, df2]).sort_index().reset_index(drop=True)
df.head(50)

                      Date         Last     First       Score  Sleep Hours
0               2023-02-20        Allen     Emmie   95.750000     8.000000
1               2023-02-20     Cheesman    Sydney   70.400000     8.000000
2               2023-02-20       Colton     Emily   86.250000     9.000000
3               2023-02-20      Dahlien    Maddie   70.370000     9.000000
4               2023-02-20  Dellaperuta     Talia   94.000000     8.000000
5               2023-02-20  Dellaperuta      Tori   61.340000    10.000000
6               2023-02-20    Dellarose     Tessa   89.000000     8.500000
7               2023-02-20        Elgin   Emerson   88.750000     9.000000
8               2023-02-20       Faasse      Kate   60.350000     7.000000
9               2023-02-20        Hayes       Kai   71.520000     9.000000
10              2023-02-20        Means      Asha   81.000000     9.500000
11              2023-02-20         Meza  Samantha   77.500000     8.000000
12              2023-02-20       Moxley     Emily   93.750000     9.000000
13              2023-02-20       Oliaro       Mia   91.000000     9.500000
14              2023-02-20      Quinlan     Riley   88.500000     9.000000
15              2023-02-20       Sember     Bella  100.000000    10.000000
16              2023-02-20      Sentnor   Allyson   76.000000     8.000000
17              2023-02-20       Teater      Maci   57.000000     8.000000
18              2023-02-20      Wrigley    Lauren   64.850000     8.000000
19  Week of 02-13 to 02-19         Team   Average   83.354945     8.478022
20              2023-02-19        Allen     Emmie   95.750000     8.000000
21              2023-02-19    Dellarose     Tessa   86.500000     6.000000
22              2023-02-19       Faasse      Kate   51.750000     8.000000
23              2023-02-19       Moxley     Emily   93.750000    10.000000
24              2023-02-19       Oliaro       Mia   73.920000     8.000000
25              2023-02-19       Reason      Nona   61.370000     9.000000
26              2023-02-19       Sember     Bella   95.500000     6.000000
27              2023-02-19      Sentnor   Allyson   72.700000     7.000000
28              2023-02-18        Allen     Emmie   95.750000     8.000000
29              2023-02-18  Dellaperuta      Tori   61.270000     8.000000
30              2023-02-18    Dellarose     Tessa   89.750000     8.000000
31              2023-02-18       Moxley     Emily   74.600000     8.000000
32              2023-02-18       Oliaro       Mia   58.270000     8.000000
33              2023-02-18       Sember     Bella   99.750000     8.000000
34              2023-02-18      Sentnor   Allyson   74.400000     8.000000
35              2023-02-17        Allen     Emmie   95.750000     8.000000
36              2023-02-17       Colton     Emily   57.490000     8.000000
37              2023-02-17      Dahlien    Maddie   70.370000     9.000000
38              2023-02-17  Dellaperuta     Talia   72.600000     8.000000
39              2023-02-17  Dellaperuta      Tori   61.270000     8.000000
40              2023-02-17    Dellarose     Tessa   87.500000    10.000000
41              2023-02-17        Hayes       Kai  100.000000    10.000000
42              2023-02-17       Moxley     Emily   93.750000     9.000000
43              2023-02-17       Oliaro       Mia   72.420000     8.000000
44              2023-02-17      Quinlan     Riley   57.600000     8.000000
45              2023-02-17       Reason      Nona   59.850000     8.000000
46              2023-02-17       Sember     Bella  100.000000     9.500000
47              2023-02-17      Sentnor   Allyson   85.750000     8.000000
48              2023-02-17       Teater      Maci   72.420000     8.000000
49              2023-02-17      Wrigley    Lauren   74.200000     7.000000

## Add conditional formatting and export to excel ##

In [3]:
# Date conditional formatting
def date(df):
    highlight = ''
    if int(df['Date'][-1]) % 2 == 0:
        highlight = 'background-color: #D59CFF'
    else:
        highlight = 'background-color: #EFDAFF'
    
    if df['Date'][0] == 'W':
        highlight = 'background-color: #7BAFD4'
    return [highlight]

# Score conditional formatting
def score(df):
    highlight = ''
    if df['Score'] < 60:
        highlight = 'background-color: red'
    elif df['Score'] >= 60 and df['Score'] < 70:
        highlight = 'background-color: orange'
    elif df['Score'] >= 70 and df['Score'] < 85:
        highlight = 'background-color: yellow'
    else:
        highlight =  'background-color: #15DE00'
    return [highlight]

# Sleep conditional formatting
def sleep(df):
    highlight = ''
    if df['Sleep Hours'] < 6:
        highlight = 'background-color: red'
    elif df['Sleep Hours'] >= 6 and df['Sleep Hours'] < 8:
        highlight = 'background-color: yellow'
    else:
        highlight =  'background-color: #15DE00'
    return [highlight]

new_df = (df
 .style
 .apply(date, subset=['Date'], axis=1)
 .apply(score, subset=['Score'], axis=1)
 .apply(sleep, subset=['Sleep Hours'], axis=1)
)

new_df.to_excel('WSoccer_Readiness.xlsx', index=False)

In [4]:
%load_ext watermark
%watermark -v -m -p pandas,numpy,seaborn,matplotlib,openpyxl

Python implementation: CPython
Python version       : 3.9.6
IPython version      : 7.28.0

pandas    : 1.3.4
numpy     : 1.21.3
seaborn   : 0.11.2
matplotlib: 3.4.3
openpyxl  : 3.0.10

Compiler    : Clang 6.0 (clang-600.0.57)
OS          : Darwin
Release     : 22.2.0
Machine     : x86_64
Processor   : i386
CPU cores   : 10
Architecture: 64bit